.CodeMirror {
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.datatable-query{
	max-height: 350px;
	overflow: auto;
	margin-top: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#selection-value{
	opacity:0;
	filter: alpha(opacity=0);
}

.CodeMirror-gutters{
	z-index: 1 !important;
}

.CodeMirror-scroll{
	z-index: 1 !important;
}